#APPLICATION VARIABLES
NODE_ENV=development
PORT=3000
HOST="0.0.0.0"
HASH_SALT_ROUNDS=10

# CORS
CORS_ORIGIN=*

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_USER=inj_test
POSTGRES_PASSWORD=inj_test_pw
POSTGRES_DB=inj_test_db
POSTGRES_PORT=5432
SCHEMA=public

DATABASE_URL="postgresql://inj_test:inj_test_pw@localhost:5432/inj_test_db?schema=public"

# JWT Variable
JWT_SECRET=troque_por_uma_chave_secreta_local
